html, body {
	min-width: 1200px;
}
li {
	list-style: none;
	padding: 5px 3px;
}
ul {
	padding: 0;
	margin: 0;
}
.navbar {
	background-color: #cddff380 !important;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: auto;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  cursor: pointer !important;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-slide:hover .advertise_word {
	text-decoration: underline;
}

#advertise_imgs {
	margin-top:30px;
	margin-bottom: 30px;
}
.advertise_img {
	position: relative;
	width: 100%;
}
.advertise_img:hover {
	cursor: pointer;
}
.advertise_img:hover .advertise_word {
	text-decoration: underline;
}
.advertise_word {
	position: absolute;
	left: 0;
	bottom: 8px;
	width: 100%;
	text-align: center;
	color: #fff;
	font-size: 2rem;
}

.movie_category {
	margin-top: 80px;
	margin-bottom: 30px;
}

.movie_info {
	position: relative;
	width: 100%;
}
.movie_info:hover {
	cursor: pointer;
}
.movie_info span {
	display: block;
	padding: 5px 0 0 3px;
}
span.movie_name {
	font-weight: bolder;
	font-size: 1.2rem;
}
span.movie_year {
	color: #666;
}
.movie_info:hover span.movie_name {
	text-decoration: underline;
}

.genres {
	margin-top: 80px;
	margin-bottom: 30px;
}
.genres .col-4 {
	margin-bottom: 15px;
}